{% extends 'base1.html' %}

{% block content %}
{% include 'snippets/menu.html' %}
    <h1 class="page-header">Change Password</h1>
    <p class="text-danger">Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    <form class="form-group col-md-6" method='POST' action="." enctype="multipart/form-data">{% csrf_token %}
      <div class="mb-3">
          {% for field in form %}
          <div class="form-group">
              <label>{{ field.label }}</label>
             {{ field }}
          </div>
          {% endfor %}
          <ul>
              <li>Your password can’t be too similar to your other personal information.</li>
              <li>Your password must contain at least 8 characters.</li>
              <li>Your password can’t be a commonly used password.</li>
              <li>Your password can’t be entirely numeric.</li>
          </ul>
        
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}